body{
    font-family: 'Acme', sans-serif;
    background-color: lightgray;
}
p{
    font-family: 'Acme', sans-serif;
    font-family: 'Noto Sans HK', sans-serif;
}
.container{
    background: gray;
    max-width: 90%;
}
.navbar-brand{
    font-size: 30px;
}
.nav-link{
    background-color:rgb(187, 59, 59);
}
.nav-link:hover{
    background-color:rgb(158, 102, 102);
}
.totop{
    padding-left: 8%;
}